  /* CSS media query dentro de um stylesheet */
@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }


  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #f5fff9; /* cinza clarinho */
  }

  h3 {
    color: rgb(82, 82, 82);


    
    
