



  body {
    background-color: #194d68; /* cinza clarinho */
    font-family: 'Courier New', Courier, monospace ;
    
    .about h2, .social h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: #222;
      }

h3 {
  color: rgb(82, 82, 82);
  text-align: center;

  p {
      font-family: verdana;
      font-size: 14px;
      font-weight: bolder;
      text-align: center;
    }

     
    .about h2 
     {
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: #222;
      }
  

      .social h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: #222;
      }


    
    
